.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.header {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    align-content: start;
    flex-wrap: nowrap;
}

.drug-item {
    background-color: #f8f9fa;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.drug-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.drug-info {
    flex: 2;
}

.drug-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.drug-remarks {
    margin-top: 20px;
    width: 100%;
}

.drug-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.drug-item p {
    margin: 5px 0;
    color: #333;
}

.patient-details-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

.patient-details-btn:hover {
    background-color: #218838;
}

.add-emergency-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

.add-emergency-btn:hover {
    background-color: #c82333;
}

.drug-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background 0.3s;
    width: 100%;
}

.drug-item button:hover {
    background-color: #0056b3;
}